
/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Playwrite;
}

/* Estilos generales */
body {
    background-color: #f3f3f3;
    color: #333;
}

header {

    background-color: #2a2a72;
    color: rgb(255, 255, 255);
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;

    font-size: 20px;

    justify-content: space-around;

    background-color: #e6ece7;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    width: 100%;
    height: 150px;
    z-index: 999;
}

.logo img {
    width: 110px;
    height: auto;
 
    margin-right: 10px;


}

nav ul {
    list-style: none;
    display: flex;
    
}

nav ul li {
    margin: 0 10px;
    display: flex;
    align-items: center;
    
}

nav ul li img {
    width: 24px;
    height: auto;
    margin-right: 8px;
    
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    font-size: 30px; 
    font-family: Rubik Wet Paint;
    letter-spacing: 2px; 
    padding: 15px 30px;   /*aquí puedo agrandar el icon*/
    text-shadow: 0px 1px 
}




nav ul li a:hover {
    color: #000000;
    text-decoration: none;
    background-color: rgba(87, 131, 80, 0.337); 
    border-radius: 15px; 
    padding: 20px 20px;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    text-transform: uppercase;
   
    
    
}



.iconos {
    height: 40px;
    width: 200px;
    display: flex;
    flex-direction: center;
    align-items: center;
    
}

.iconos img {
    display: flex;
    flex-direction: center;
    align-items: center;
    width: 50px;
    height: 50px;
}






/* Secciones */










main {
    padding: 20px;
    
 
}




.principal {
   
    background-image: url('../css/imagenes/depo.jpg'); 
    /* Ruta de tu imagen de fondo */
    background-size: cover;
    background-position: center;
    height: 900px; /* Ajusta la altura según tus necesidades */
    
    display: flex;
    
    background-color: #f2f2f2;
    padding: 0 0;
    text-align: center;

    
    
}


section {
    background: #ffffff;
    
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    
    
}




/* Estilo del formulario */
form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 10px 0 5px;
}

input, select, button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    background: #007BFF;
    color: #ffffff;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #0056b3;
}


.talleres-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 columnas */
    gap: 20px; /* Espaciado entre las cajas */
    margin: 20px 0;
    
}

.taller {
    background: #e0f7fa; /* Color de fondo */
    border: 1px solid #004c9d; /* Borde */
    border-radius: 12px; /* Bordes redondeados */
    padding: 15px;
    text-align: center;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra */
    transition: transform 0.3s; /* Transición para efectos */
}


/* Pie de página */

/*creando el Footer - pie de pagina final de
  la pagina*/


  .footer {
    width: 1425;
    height: 380px;
    background-color: #0056b3;
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: center;
  }

  .logoP {
    width: 350px;
    height: 380px;
  }

.imagine_logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

  .imagine_logo a img {
    width: 250px;
    height: 200px;
    display: flex;
    justify-content: center;
  }

  .parrafo_s{
    display: flex;
    justify-content: center;
    color: white;
  }

  .redes {
    width: 350px;
    height: 50px;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .redes ul {
    width: 340px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }

  .redes li {
    width: 50px;
    height: 50px;  
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 5px;
  }

  .redes a img {
    width: 30px;
    height: 30px;    
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 1px;
  }

  .redes a img:hover {
    border-radius: 20%;
    background-color: #03285b;
  }


/* separacion de div */


.texto_fot {
  width: 350px;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 80px;
}

.texto_fot ul li {
  width: 350px;
  height: 80px;
  display: flex;
  flex-direction: column;
  font-size: medium;
}

.texto_fot img {
  width: 30px;
  height: 30px;
  display: flex;
  flex-direction: column;

}